.image-corner{
width: 120px;
height:120px;

}

.corner-card{
    border-radius: 10px;
   margin: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.corner-title{
    padding: 2px;
    /* margin: 0; */
    color: white;
    font: bold;
    text-align: center;
    /* font-size: 25px; */
}


.card-music{
    background-color: #001f97;
    /* padding-bottom: 10px; */
    margin-bottom: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.music-list{
    padding: 10px;
}

.film-video{
    border-radius: 5px;
    margin-top: 10px;
}


.div-films{
    /* color:#001f97; */
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    background-color:white;
    padding-bottom: 10px;
}


.text-film{
    color:#001f97;
    /* margin-bottom: 10px; */
}

.div-films-corner{
    padding: 10px;
}

.text-films-corner{
    color:#001f97;
    text-align: center;
    margin: 0;
    padding: 10px;
    font-weight: bold;
}

.fab-memes{
background-color: #001f97;
}

.fav-meme-item{
    position: absolute;
    bottom: -10px;
  right: -10px;
  background-color: #001f97;
  border-radius: 100px;
  height: 45px;
  width: 45px;
}

.fav-chip{
    position: absolute;

}
.fav-chip2{
    position: relative;
    top:10px;
    right: -10px;
    width: 30%;

}

.fav-chip-film{
    position: absolute;

}
.fav-chip-film2{
    position: relative;
    top:10px;
    right: -10px;
    width: 30%;
}

 
.div-header-meme{
    position: relative;
    /* padding-bottom: 5px;  */
    padding-top: 20px;
}

.label-toast{
    color: #001f97;
}

.film-image{

}


.card-films-corner{
    background-color:rgb(255, 255, 255);
    /* padding:10px; */
    margin:10px;
    border-radius:10px;
    /* width: 30%; */
   
}


.card-header-films{
    padding: 0;

}

.item-food-corner{
    background-color: white;
    margin: 10px;
    border-radius: 10px;
}
.text-food-corner{
    color: #001f97;
    text-align: center;
    margin-top: 5px;
}

.div-music{
    /* background-color: #ffffff; */
    border-radius: 10x;
    /* margin: 15px; */
    margin: 10px;
    
}
.text-music{
    /* color:white; */
    /* font-size:18px; */
 
}

.div-text-music{
    padding-right: 10px;
    padding-left: 10px;
}
.iframe-music{
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
}


.div-food{
    color:white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
   background-color: white;
    padding-bottom: 10px;
    border-radius: 10x;
}

.div-food-corner{
    padding: 15px;  
}

.food-img-corner{
    height: 50%;
    width: 100%;
}


.item-memes-corner{
    background-color: white;
    margin: 10px;
}



