.card-dark{
    background-color: #000000;
    color: white;

  }

  .card-white{
      background-color: white;
  }

  .text-dark{
      color:white;
  }

  .text-white{
    color:darkblue;
}
.fact-img{
  border-radius: 10px;
}


.fact-card{
    margin: 5px;
    /* height: 260Px; */

    
}

.fact-text{
    padding-top: 5px;

}

.lesson-slide{
    /* display: flex; */
}

.fab-lesson1 {
    position: absolute;
    bottom:20px;
    left: 60px;
  }
  
  .fab-lesson2 {
    position: absolute;
    bottom:20px;
    right: 50px;
  }
  
.container-fab {
   position: relative;
  }