.card-dark{
    background-color: #000000;
    /* background-color:#1A1A40; */
    color: white;

  }

  .card-white{
      background-color: white;
  }

  .text-dark{
      color:white;
  }

  .text-white{
    color:darkblue;
    /* color:#3700B3; */
}
.card-fact{
  background-color: #000000;
}

.text-white-main{
  color: white;
}
.fact-img{
  border-radius: 10px;
  background-color: #000000;
  /* margin-bottom: 10px; */
  
}


.fact-card{
    margin: 5px;
    /* height: 260Px; */

    
}

.fact-text{
    padding-top: 5px;

}

.lesson-slide{
    /* display: flex; */
}

.fab-lesson1 {
    position: absolute;
    bottom:20px;
    left: 60px;
  }
  
  .fab-lesson2 {
    position: absolute;
    bottom:20px;
    right: 50px;
  }
  
.container-fab {
   position: relative;
  }

 
  /* .slider-pager {
    top: 0;
    bottom: inherit;
  } */

  .lesson-item-buttons{
    width: px; 
     display: flex; 
     justify-content: space-between; 
    margin: 10px;

  }

  .button-lesson{
    width: 50px;
    height: 30px;
  }

  

/* 

  .swiper-slide:nth-child(1n) {
    background-color: rgb(206, 17, 17);
  }
  
  .swiper-slide:nth-child(2n) {
    background-color: rgb(0, 140, 255);
  }
  
  .swiper-slide:nth-child(3n) {
    background-color: rgb(10, 184, 111);
  }
  
  .swiper-slide:nth-child(4n) {
    background-color: rgb(211, 122, 7);
  }
  
  .swiper-slide:nth-child(5n) {
    background-color: rgb(118, 163, 12);
  }
  
  .swiper-slide:nth-child(6n) {
    background-color: rgb(180, 10, 47);
  }
  
  .swiper-slide:nth-child(7n) {
    background-color: rgb(35, 99, 19);
  }
  
  .swiper-slide:nth-child(8n) {
    background-color: rgb(0, 68, 255);
  }
  
  .swiper-slide:nth-child(9n) {
    background-color: rgb(218, 12, 218);
  }
  
  .swiper-slide:nth-child(10n) {
    background-color: rgb(54, 94, 77);
  }
   */



   .card-lesson{
     margin: 18px;
   }

 

   .div-item-lesson-dark{
    background-color: rgb(19, 29, 41);
    margin-bottom: 30px;
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 20px;
    border-radius: 20px;
   }

   .div-item-lesson-light{
    /* background-color: aliceblue; */
    background-color: rgb(31, 29, 62);
    margin-bottom: 30px;
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 20px;
    border-radius: 20px;
   }

   .img-lesson{
    border-radius: 20px;
   }

   .module-title{
    font-size: 30px;
    text-align: center;
    margin-top: 0px;
    
   }
   .item-module-title{
    width: 100%;
    text-align: center;
    
   }

   .lesson-main-title{
    font-size: 30px;
    text-align: center;
   }