.card-dark{
    background-color: #000000;
    color: white;

  }

  .card-white{
      background-color: white;
  }

  .text-dark{
      color:white;
  }

  .text-white{
    color:darkblue;
}
.fact-img{
    height: 80px;
    width: 100%;
    object-fit: cover;
    /* opacity: 0.9; */
    /* filter: grayscale(100%); */
    filter: opacity(60%);
    /* filter: blur(0.9px); */
}

.fact-title{
    padding-top: 15px;
    padding-bottom: 20px;
}

.fact-card{
    margin: 15px;

    
}