
:root {
   --ion-color-primary: #001f97;
  --ion-color-primary-rgb: 0,31,151;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #fcfcfc;
  --ion-color-primary-tint: #1a35a1;

  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61,194,255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82,96,255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45,211,111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255,196,9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235,68,90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34,36,40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146,148,156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244,245,248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;



  --ion-item-background: #rrggbbaa;

  
  --ion-toolbar-background: #001f97;
  /* --ion-toolbar-background:#1e4ef5; */
  /* --ion-toolbar-background:#0e2888; */

  --ion-tab-bar-background: #001f97;

  /* --ion-background-color:#001f97; */
  /* --ion-background-color:#007FFF; */
  /* --ion-background-color:rgba(220, 226, 236, 0.938); */
  --ion-background-color: #rrggbbaa;
  /* --ion-background-color:#b6bfe4; */
  /* --ion-text-color: #ffffff; */
  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255,255,255;
  --ion-toolbar-segment-color-checked:yellow;
  /* --ion-border-color: #222222; */
  
}
.icons, .label{
  color:rgb(255, 255, 255);
  /* opacity: 0.5; */
}

.card{
  background-color: #001f97;
}


.font{
  /* font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
  /* font-family: 'Montserrat', sans-serif; */
  /* font-family: 'Montserrat', sans-serif; */
font-size: 20px;
color:white;
}

.card-item{
  background-color: white;
}


*{
  /* font-family: 'Amiri', serif; */
  font-family: 'Mulish', sans-serif;
}
/* h1,h2,h3,h4,h5,h6{
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
} */
ion-content {
   /* background-color: rgba(30,78,245,1); */


   background-color: rgb(8, 0, 0);
   
   /* background-color: #001f97; */
   /* background-color: rgb(228, 220, 220); */
  /* background-image:  url("../back.jpg"); */
   /* background-image: linear-gradient(to bottom, #9cfaf9, #00c9eb, #0096df, #0060c7, #001f97); */
   
   /* background-image: linear-gradient(to bottom, #051551, #04144b, #031344, #03113e, #040f38); */
   
   /* background-image: linear-gradient(0deg, rgba(0,31,151,1) 12%, rgba(88,125,240,1) 100%); */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  
}