
:root {
   /* --ion-color-primary: #001f97;
  --ion-color-primary-rgb: 0,31,151;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #fcfcfc;
  --ion-color-primary-tint: #1a35a1; */

  --ion-color-primary: #001f97;
  --ion-color-primary-rgb: 66, 140, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3a7be0;
  --ion-color-primary-tint: #5598ff;

  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61,194,255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82,96,255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45,211,111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255,196,9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235,68,90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34,36,40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146,148,156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244,245,248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;



  --ion-item-background: #rrggbbaa;

  
  --ion-toolbar-background: #001f97;

  --ion-tab-bar-background: #001f97;


  /* --ion-background-color: #rrggbbaa; */
  /* --ion-background-color: #rrggbbaa; */

  --ion-text-color: #001f97;
  --ion-text-color-rgb: 255,255,255;
  --ion-toolbar-segment-color-checked:yellow;
  /* --ion-item-background: #1a1b1e */
/*-----*/
   --ion-background-color: white;
   

  --ion-background-color-rgb: 18, 18, 18;





}
/* @media (prefers-color-scheme: dark){} */


  .md body.dark {
    --ion-background-color: #121212;
    --ion-background-color-rgb: 18, 18, 18;
  
    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255, 255, 255;
  
    --ion-border-color: #222222;
  
    --ion-color-step-50: #1e1e1e;
    --ion-color-step-100: #2a2a2a;
    --ion-color-step-150: #363636;
    --ion-color-step-200: #414141;
    --ion-color-step-250: #4d4d4d;
    --ion-color-step-300: #595959;
    --ion-color-step-350: #656565;
    --ion-color-step-400: #717171;
    --ion-color-step-450: #7d7d7d;
    --ion-color-step-500: #898989;
    --ion-color-step-550: #949494;
    --ion-color-step-600: #a0a0a0;
    --ion-color-step-650: #acacac;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c4c4c4;
    --ion-color-step-800: #d0d0d0;
    --ion-color-step-850: #dbdbdb;
    --ion-color-step-900: #e7e7e7;
    --ion-color-step-950: #f3f3f3;
  
    /* --ion-item-background: #1a1b1e; */
    /* --ion-item-background: #1a1b1e; */
    --ion-item-background: #rrggbbaa;
  
    
    --ion-toolbar-background: #121212;
  
    --ion-tab-bar-background: #121212;

  }
  

  /* slides style----------------------------------> */
.swiper-pagination{

  height: 10px;
  
}
 /* div.swiper-pagination { top:-10px; bottom:inherit;}  */

  /* .swiper-pagination-bullet {

    background:white;


    height: 23px;
    width: 23px;


  }
  
  .swiper-pagination-bullet-active {

    background:white;
    font-size: 30px;
    color: white;

   height: 23px;
    width: 23px;

  }  */



/* Optional CSS, this is added for the flashing that happens when toggling between themes */
ion-item {
  --transition: none;
}


.white{
  background-color: white;
}


.component-icon {
  border-radius: 50%;

  padding: 7px;
  height: 18px;
  width: 18px;

  margin-top: 5px;
  margin-bottom: 5px;
}

.component-icon-dark {
  background: var(--ion-color-step-850, #27323e);
  color: var(--ion-item-background, rgb(71, 3, 3));
}

.icons, .label{
  color:rgb(255, 255, 255);
  /* opacity: 0.5; */
}

.card{
  background-color: #001f97;
  /* margin: 0; */
  border-radius:20px;
}
.expecial-card{
  background-color: #63c3e9;
}


.font{
  /* font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
  /* font-family: 'Montserrat', sans-serif; */
  /* font-family: 'Montserrat', sans-serif; */
font-size: 20px;
color:white;
}

.card-item{
  /* background-color: white; */
}


*{
  /* font-family: 'Amiri', serif; */
  font-family: 'Mulish', sans-serif;
}
/* h1,h2,h3,h4,h5,h6{
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
} */
ion-content {

  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  
}



.loading-spinner-item{
  height: 300px;
  background-color: #070d5c;
  
 /* justify-content: center; */
  /* text-align: center; */
  /* align-items: center; */
  width: 100%;
  /* align-content: center; */
  /* justify-items: center;  */

  display: flex;
  /* position: relative; */
  border-radius: 15px;
}

.loading-spinner-item-music{
  height: 100px;
  background-color: #070d5c;
  
 /* justify-content: center; */
  /* text-align: center; */
  /* align-items: center; */
  width: 100%;
  /* align-content: center; */
  /* justify-items: center;  */

  display: flex;
  /* position: relative; */
  border-radius: 15px;
}

.spinner{
  display: flex;
  /* position: absolute; */
  /* top:5px; */
  width: 100%;
  height: 100%;
}