.expression-img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height:250px;
  object-fit: cover;
  /* overflow: hidden; */
border-radius: 5px;
border-color:#001f97;

}

.text{
    color:#001f97 ;
}
.expression-list-item{
    display: flex;
    
vertical-align: middle;
}
.bold{
    font-weight:900;
    font-style: italic;
    
}

.expression-icon{
    height: 20px;
    width: 35px;
    padding-right: 8px;

}