*{
    /* font-family:; */
}
h3, h4 ,h1, h5, h6{
   font:bold;
    /* padding-right: 5px;  */
    /* color: #001f97; */
}
.logo-toolbar{
  
    /* padding-left: ; */
    /* align-content: center; */
    /* justify-self: center; */
    /* justify-content: center; */
   height: fit-content;

    
}

.toolbar-home{
    /* display: flex; */
    justify-content: center;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    
}

.home-list{
    padding-top: 0;
}


.menu{
    /* position: absolute; */
    left: 10px;
    top:32px;
    padding-right: 10px;
}
.home-logo{
  height: 54%;
  width: 14px;
  border-radius: 10px;
  /* justify-content: center; */
  /* align-content: center;
  justify-content: space-between; */
}

.home-div-logo{
   /* margin-top:10px; */
    display: flex;
    justify-content: space-between;
    /* align-items:center; */
    /* justify-content: center; */
    padding-top: 5px;
    /* padding-bottom:5px; */
    width: 100%;
}
.box-logo{
    display: flex;
    flex-direction: row;
}
.home-text-logo{
    /* font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    /* font-weight:bold; */
    padding: 0;
    
 /* font-size: 30px; */
    margin: 0;
    /* color: #001f97; */
    color:white;
 
    text-align: center;
    text-align: center;
}

.padding-menu-home{
    padding-left: 27px;
}
.padding-menu-others{
    padding-left: 10px;
}

.toolbar-div{
display: flex;
justify-content: center;
align-content: center;
/* height: 10%; */
/* width: fit-content; */
  height: 50%;
align-items:center;

 
}
.home-title{
  
    padding: 0;
    margin: 0;
    color: white;
    /* color: #001f97; */
    font: bold;
    text-align: center;
    /* font-size: 25px; */
}

.home-item-img{
    border-radius: 10px;
 /* height: 50%; */
 width: 40%;
     /* padding-left: 10px; */
     margin: 0;
   }

.home-item{
     padding: 10px;
     /* border-radius: 15px; */
   margin-bottom: 10px;
   /* background-color: black */
   }
   
.Img{
     border-radius: 50px;
     padding: 0;
     margin: 0;
   
   }
   
.home-thumbnail{
     height: 100px;
     width: 100px;
     padding: 0;
     margin-top: 0;
     margin-bottom: 0;
     background-color: transparent;
     
   }
   /* #001f97 */
.home-card{
    /* background-color:rgb(255, 255, 255); */
    border-radius: 10px;
    padding: 0;
    margin: 5px;
    margin-top: 0;
    margin-bottom: 0;
   
}
.home-text{
    font-size: 14px;
    opacity: 0.8;
    color: #001f97;

}



.div-card-home{
    display: flex;
}

.image-home{

border-radius: 10px;

}

.home-random-title {
    color:#001f97;
    /* color: #001f97; */
    padding: 0;
    padding-bottom: 3px;
    margin: 0;
    text-align: center;
}
.home-random-text{
    color:#001f97;
    /* color: #001f97; */
    font-size: 15px;
    padding: 0;
    margin: 0;
    text-align: center;
}

.card-random{
    background-color: #ffffff;
    border-radius: 10px;
  }

  .home-logo-text{
      /* width: 80%; */
      /* padding-top: 10px; */
  }

  /* #ListBackdrop{
    background-color: white !important;
    position: fixed !important;
    height: 100%;
    width: 100%;
    z-index: 1;
    opacity: 0.8;
    text-align: right;
    justify-content:space-evenly;
 }

 .nav-item-home{
     top: 20px;
    
    position: absolute;
    width: 100%;
    padding-right: 220px;
    padding-bottom: 75px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bold;
 } */

 .menu-item-home{
font-size: 20px;
 }
 .position-item{
    position: relative;
 }

 .fav-word-item{
    position: absolute;
    top: -5px;
  right: -5px;
  background-color: #001f97;
  border-radius: 100px;
  height: 45px;
  width: 45px;
  z-index: 100;
}

.fav-film-item{
    position: absolute;
    top: -5px;
  right: -5px;
  background-color: #001f97;
  border-radius: 100px;
  height: 45px;
  width: 45px;
  z-index: 100;
}


.component-icon {
  border-radius: 50%;

  padding: 7px;
  height: 18px;
  width: 18px;

  margin-top: 5px;
  margin-bottom: 5px;
}

.component-icon-dark {
  background: var(--ion-color-step-850, #27323e);
  color: var(--ion-item-background, rgb(71, 3, 3));
}